<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h1>Change Order</h1>
    <a href="/go_home">Back to Purchases</a>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
        {% if messages %}                            <!-- check if there are any messages -->
            {% for message in messages %}            <!-- loop through the messages -->
                <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/update_order/{{one_order.id}}" method="post" >
        <p>{{one_order.id}}</p>
        <div class="mb-3 mt-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name = 'name' value="{{one_order.name}}">
        </div>
        <div class="mb-3 mt-3">
            <label for="cookie_type" class="form-label">Cookie Type</label>
            <input type="text" name = 'cookie_type' value="{{one_order.cookie_type}}">
        </div>
        <div class="mb-3 mt-3">
            <label for="boxes" class="form-label">Number of Boxes</label>
            <input type="number" name = 'boxes' value="{{one_order.boxes}}">
        </div>
        <button class="btn btn-primary">Log</button>
    </form>
</body>
</html>